<!DOCTYPE html>
<html>

<head>
    <title>About - Chris Centrella</title>
    <meta charset="utf-8">
    <meta name="author" content="Chris Centrella">
    <meta name="description" content="Christian web designer, software engineer">
    <meta name="keywords" content="Chris Centrella, christian, web, designer, developer, software, engineer, website">
    <meta name="width" content="width=device-width, content=1.0">
</head>

<body>
    <header>
        <div class="banner-image">
            <div class="banner-overlay">
                <h1 class="logo">Chris<br />Centrella</h1>
                <div class="flex">
                    <h2 class="logo-tagline">Web Designer</h2>
                    <%= image_tag "icons/menu.png" , class: 'menu-toggle' %>
                </div>
            </div>
        </div>

        <!--<div class="navbar">
        <ul>
            <li></li>
        </ul>
    </div>-->
    </header>
    <main>
        <h1>About Me</h1>
        <p class="large">
            I’m an aspiring software engineer. I especially love creating user interfaces, because it allows me to
            uniquely express what matters most—to myself, my clients, or my company.
        </p>
        <h1>Work Experience</h1>
    </main>
</body>

</html>