<% provide(:title, "About") %>
<main>
    <h1>About Me</h1>
    <p class="large">
        I’m an aspiring software engineer. I especially love creating user interfaces, because it allows me to
        uniquely express what matters most—to myself, my clients, or my company.
    </p>
    <h1>Work Experience</h1>
</main>