<% provide(:title, "Get in Touch") %>
<h1>Get in Touch</h1>
<p class="large">Thank you so much for reaching out to me! Because I’m still attending college I can’t make any promises, but I will do my best to respond as soon as possible. I look forward to getting back to you!</p>
<p class="large">“The Lord, He is my strength and my song, and He has become my salvation. He is my God.”<br/>
(Exodus 15:2)</p>
<br/>
<h2>Website under construction</h2>
<h3>Please contact me through LinkedIn or Facebook until form is working</h3>
<br/>
<form class="contact-form">
<input />
</form>