<!DOCTYPE html>
<html>
<head>
    <title>Chris Centrella</title>
    <meta charset="utf-8">
    <meta name="author" content="Chris Centrella">
    <meta name="description" content="Christian web designer, software engineer">
    <meta name="keywords" content="Chris Centrella, christian, web, designer, developer, software, engineer, website">
    <meta name="width" content="width=device-width, content=1.0">
</head>
</html>
<header>
    <div id = "banner-image">
        <img alt="Banner Image" src="" />
    </div>
</header>
<div id="navbar">

</div>
<h1>Welcome!</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>