<% provide(:title, "Vision") %>
<main>
    <h1>Vision</h1>
    <p class="large">
        To bring the love and healing of Jesus to His children, through technology.
    </p>
    <h1>Mission Statement</h1>
    <p>Hello! I’m Chris Centrella, an upcoming computer science college grad from Franciscan University, in
        Steubenville, Ohio. Since a very young age, I’ve been fascinated by photography, and the ability to capture
        unique, awe-inspiring photographs, as well as the capacity to transform these using compositions. I became
        intrigued with our 8-year-old computer that we had, and whether I could possibly make it run faster. My
        curiosity of how computers worked, coupled with my creativity, led me to the field of computer programming,
        where I wanted to create computer interfaces that not only DID something but also SHOWED something. I picked up
        a book on how to learn Visual Basic and quickly went through it, writing my first custom program the very next
        month.</p>
    <p>Amid a very difficult late childhood and adolescence, I began drowning all my woes in computer programming; it
        was my only life. I read a 1600-page book from start to finish on using Microsoft C#, and another extensive book
        on the Windows Presentation Foundation (WPF). Through this, I was able to create several programs, even one
        building upon the previous in terms of functionality, until I created a program that saves, organizes, sorts,
        deletes, modifies, and shows data. To this day, my family still uses this program to keep track of all of the
        grades from homeschooling their children. More recently, I’ve been intrigued by the idea of a car that drives by
        itself, leading me to the areas of artificial intelligence and especially computer vision as well.</p>
    <p>Yet at the same time, I feel this calling to make the world a better place, to bring the light and love of Jesus
        to my brothers and sisters. We live in a world where there is so much darkness and pain and sorrow, a world of
        so much brokenness and sin. Yet, there is a love that is so much stronger than all of that brokenness, a love
        that is stronger than sin, stronger than evil, and stronger than death! Jesus said to Nicodemus, “No one has
        ascended into heaven but he who descended from heaven, the Son of man.” (John 3:13). The God of the universe,
        the God who created us, came down from heaven to enter my brokenness so that He might set me free. Naked on a
        cross, arms stretched out and His Precious Blood pouring out, He gave everything, everything. In His
        crucifixion, Jesus cried out, “Father, forgive them, for they know not what they do.” Jesus’s love is so great
        that He forgave those who committed the worst crime in human history, the killing of God, on that lonely, thorny
        path of the cross.</p>
    <p>And having encountered God’s love in my brokenness, there is an uncontrollable urge within me that cries out, “I
        thirst!” (John 19:28). The Holy Spirit has given me this longing, this desire in the depths of my heart, to
        bring the love of Jesus to my brothers and sisters who are lost; to bring His unfathomable love that has the
        capacity to “heal wounds and warm hearts,” the love that nothing can equal, nothing can comprehend, and nothing
        can overcome. My heart yearns to share the limitless mercy of Jesus, which transforms our deepest sin and
        wounds, just like Christ’s wounds were transformed on the Cross. I want to devote my life to this mission,
        bringing Jesus’s mercy to others, so that the whole world might know that His Love is “more powerful than evil:
        more powerful than sin and death” (Dives et Misericordia, St. John Paul II). I want each person to know that God
        loves them with a Father’s heart, sent His only Son to die for them, and is running after them, with arms open
        wide to His forgiveness and mercy. Nothing would bring me more joy than seeing the Kingdom of God united and
        alive, as broken people fall into the arms of their Savior and pour out their praise to the One who is madly in
        love with them: Jesus Christ, our Advocate, our Friend, and our Savior.</p>
</main>