/* SCSS Document */

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
}

img {
    vertical-align: top;
}

textarea {
    resize: none;
}

select {
    appearance: initial;
}

ul, ol {
    list-style-position: inside;
}