/* SCSS Document */

/** Footer **/

footer {
    margin-top: 2.5em;

    .logo {
        padding: 0 1em;
        font-size: 2.5em;
    }

    .button-fixed-container-dark {
        margin: 0;
        padding: 3.5em 0 2em;
    }

    i.heart {
        margin: 0 0.1em 0 0.15em;
        vertical-align: -0.15em;
    }
}

.footer-top {
    padding: 3em 0.5em 2em;
    background-color: $footer-top-background;
}

.footer-bottom {
    padding: 1em 2.5em;
    background-color: $footer-bottom-background;
}

.copyright {
    font-family: 'Quasimoda', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: $light-text;
}

@media screen and (min-width:750px) {

    footer .button-fixed-container-dark {
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 2.5em;
        padding-right: 2.5em;
        gap: 0 1em;

        a {
            flex-basis: 30%;
        }
    }

    .footer-top {
        padding-bottom: 2em;
    }

    .copyright {
        font-size: 0.9em;
        text-align: center;
    }
}

@media screen and (min-width:925px) {

    footer .button-fixed-container-dark {
        padding-left: calc(50vw - 425px);
        padding-right: calc(50vw - 425px);

        a {
            flex-basis: 27%;
        }
    }
}