/* SCSS Document */

/** Text **/

body,
p {
    font-family: 'Quasimoda', sans-serif;
    font-size: 2.75vh;
    font-weight: 300;
    color: $dark-text;

    &.large {
        font-size: 1.1em;
    }

    &.small {
        font-size: 0.8em;
    }

}

span.keyword {
    color: $keyword;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: dodgerblue;

    &:hover {
        color: deepskyblue;
    }
}

h1,
h2,
h3,
h4 {
    font-family: rooney-sans, sans-serif;
    font-weight: 700;
    color: $primary;
}

h1 {
    font-size: 2.75em;
}

h2 {
    font-size: 2.25em;
}
