/* SCSS Document */

/** Text **/

body {
    font-family: 'Quasimoda', sans-serif;
    font-weight: 300;
    color: $dark-text;
    font-size: 1.1em;

    &.small {
        font-size: 0.85em;
    }

}

p {
    margin: 0.25em 0 0.75em 0;
}

p.justify {
    text-align: justify;
    text-justify: inter-character;
    hyphens: auto;
    -webkit-hyphens: auto;
}

span.keyword {
    color: $keyword;
    font-weight: 500;

    &.company {
        color: $company;
    }
}

span.medium {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: $link-text;

    &:hover {
        color: $link-text-hover;
    }
}

h1 {
    margin: 1.5em 0 0.65em 0;
    font-size: 2.5em;
    font-family: rooney-sans, sans-serif;
    font-weight: 700;
    color: $heading;
}

h2,
h3,
h4 {
    margin: 1.15em 0 0.5em 0;
    font-family: 'Quasimoda', sans-serif;
    font-weight: 300;
    color: $primary;
}

h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h2::before {
    height: 0.15em;
    background-color: $primary;
    width: 1.5em;
    margin-top: -0.3em;
    margin-left: 0.1em;
    position: absolute;
    content: '';
}
h3 {
    font-weight: 400;
    font-size: 1.25em;
}

p.section-title {
    margin: 0 0 2.5em;
    padding: 3em 0 1.5em;
    background-color: $secondary-light2;
    font-size: 2em;
    font-family: jaf-domus-titling-web, sans-serif;
    font-weight: 700;
    line-height: 1.25;
    color: $primary;
    text-align: center;

    &.zero-margin {
        margin: 0;
    }
}

.button-label {
    padding: 1.15em 2em;
    border-radius: 50px;
    background-color: $button-background;
    font-family: 'Quasimoda', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    color: $button-text;
    text-align: center;
    width: 8em;
    max-width: 90%;
    margin: 2em auto 1.5em;
}

.button-label::before {
    content: unset;
}