/* SCSS Document */

/** Text **/

body,
p {
    font-family: 'Quasimoda', sans-serif;
    font-weight: 300;
    color: $dark-text;
    font-size: 1.05em;

    &.large {
        font-size: 1.1em;
        margin-bottom: 0.75em;
    }

    &.small {
        font-size: 0.9em;
    }

}

p {
    margin: 0.25em 0 0.5em 0;
}

p.justify {
    text-align: justify;
    text-justify: inter-character;
    hyphens: auto;
    -webkit-hyphens: auto;
}

span.keyword {
    color: $keyword;
    font-weight: 500;

    &.company {
        color: $company;
    }
}

span.medium {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: $link-text;

    &:hover {
        color: $link-text-hover;
    }
}

h1 {
    margin: 1.5em 0 0.65em 0;
    font-size: 2.5em;
    font-family: rooney-sans, sans-serif;
    font-weight: 700;
    color: $heading;
}

h2,
h3,
h4 {
    margin: 1.15em 0 0.5em 0;
    font-family: 'Quasimoda', sans-serif;
    font-weight: 300;
    color: $primary;
}

h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
}

h2::before {
    height: 0.15em;
    background-color: $primary;
    width: 1.5em;
    margin-top: -0.3em;
    margin-left: 0.1em;
    position: absolute;
    content: '';
}