.contact-form{
    margin: 5em 0 5em 0;
    padding: 3em 1em 5em;
    background-color: $accent;
    text-align: center;
    
    .form-container {
        max-width: 32em;

        p, h1, h2 {
            color: $light-text;
            text-align: left;
        }
    }

    label, a, p {
        color: $light-text;
        margin: 0.5em 0;
    }
}

.field {
    display: inline-block;
    margin: 0.5em 0;
    padding: 1em;
    width: 90%;
    max-width: 32em;
    box-sizing: border-box;
    font-family: 'Quasimoda', sans-serif;
    font-size: 1em;
    font-weight: 300;
    border-radius: 36px;
    border: none;
}

input:hover {
    background-color: $field-hover;
}

.field-message {
    height: 12em;
    border-radius: 40px;

    &.long {
        height: 25em;
    }
}

.submit-button {
    margin: 1em 0 0 0;
    padding: 1.4em 0;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid $light-text;
    border-radius: 50px;
    color: $light-text;
    font-family: 'rooney-sans', sans-serif;
    font-weight: 500;
    font-size: 1em;
    width: 15em;
    transition: color 1s, background-color 1s;
}