#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: $primary;
    box-sizing: border-box;
    margin: 0 0 5em;
    height: 100vh;
}

#hero-profile {
    width: 15em;
    max-width: 50%;
    margin: 6em auto 0;
}

#hero-logo, #hero-tagline {
    margin: 0.4em 1em 0.25em;
    font-family: 'Quasimoda', sans-serif;
    font-weight: 300;
    line-height: 1.15;
    font-size: 3em;
    text-align: left;
    color: $logo-text;
}

#hero-tagline {
    margin: 0;
    padding: 1em;
    font-size: 2em;
    text-align: right;
}

#hero-tagline::before {
    content: unset;
}

#hero-bottom {
    background-color: $secondary;
}

#hero-bar {
    height: 0.5em;
    background-color: $primary;;
}