.circle-icon-container {
    background: $secondary;
    padding: 3em 0;

     p, h1, h2 {
        color: $light-text;
    }

    a.circle-icon, .circle-icon-title a {
        color: $light-text;
        transition: opacity 1s;

        &:hover {
            color: $light-text;
            opacity: 0.8;
        }
    }

    .circle-icon-title {
        font-family: rooney-sans, sans-serif;
    }

    .button-fixed:hover {
        background-color: $primary;
    }

    &.green {
        background: $container-dark-background;

        .button-fixed:hover {
            color: $container-dark-background;
        }
    }
}

.circle-icon-outer {
    display: flex;
    padding: 2em 0 3em;
    align-items: center;

    &.wide {
        @media screen and (max-width:749px) {
            display: block;
        }
    }
}

.flex-col.circle-icon-left {
    text-align: center;
}

.buttons-desktop {
    display: none;
}

@media screen and (max-width:374px) {
    .circle-icon-container h2 {
        font-size: 2em;
    }
}

@media screen and (min-width:750px) {
    .circle-icon-outer {
        width: 100%;
        justify-content: space-evenly;
        padding-bottom: 1.5em;
    }

    .buttons-desktop {
        margin-top: 2em;
        display: block;
    }

    .circle-icon-container {
        display: block;
        padding: 4em 0;

        > .circle-icon-button {
            display: none;
        }
    }
}
