/* SCSS Document */

/** Variables **/

$light-text: #E5E5E5;
$dark-text: #707070;
$grey-text: #7E7777;
$primary: color(display-p3 0.1686 0.5922 0.7451);
$secondary: color(display-p3 0.0353 0.4431 0.5882);
$secondary-light: #7EBBE0;
$accent: color(display-p3 0.0275 0.3059 0.4078);
$accent-light: #73B4B4;
$heading: color(display-p3 0.0353 0.4431 0.5882);
$keyword: $secondary;
$company: #957219;
$link-text: dodgerblue;
$link-text-hover: deepskyblue;

$overlay: transparent;
$banner-border: #32ACD9;
$logo-text: $light-text;
$logo-text-hover: #ecf7ed;

$navbar: $secondary;
$navbar-item: $primary;
$navbar-hover: $accent;
$navbar-active: $accent;
$navbar-border: $banner-border;

$flash-success: #657C3B;
$flash-warning: #D97109;
$flash-error: #D92E2E;

$container-background: transparent;
$container-dark-background: $secondary;
$container-dark-background-red: #520001;
$container-background-gray: #707070;

$button-border: transparent;
$button-background: $accent;
$button-text: $light-text;
$button-hover: $secondary;
$button-hover-text: $light-text;
$button-dark-border: $light-text;
$button-dark-background: transparent;
$button-dark-text: $light-text;
$button-dark-hover: $light-text;
$button-dark-hover-text: transparent;
$button-highlight-background: $accent-light;
$button-container-highlight-background: $secondary;
$button-container-highlight-background-red: hsl(350, 76%, 24%);

$field-hover: aliceblue;

$timeline: #496600;
$timeline-text: #627E2D;

$footer-top-background: #042836;
$footer-main-background: $accent;
$footer-bottom-background: #242222;
$footer-logo: #BFD9D9;
$footer-heading: $accent-light;
$footer-link: #BFD9D9;
$footer-link-hover: #97d7d7;