.create-post-button-container {
    margin-bottom: 0.5em;
}

.create-post-title {
    margin: 0 0 0.5em;
    padding: 0.5em;
    width: 90%;
    resize: none;
    box-sizing: border-box;
    font-size: 2.25em;
    font-family: rooney-sans, sans-serif;
    font-weight: 700;
    border: none;
    color: gray;

    &:focus, &:active {
        outline-style: none;
    }
}

.create-post-content {
    margin: 0.5em;
    min-height: 15em;
    height: auto;
    resize: none;
    box-sizing: border-box;
    font-family: 'Quasimoda', sans-serif;
    font-weight: 300;
    font-size: 1.05em;
    border: none;

    &:focus, &:active {
        outline-style: none;
    }
}