.flash-container + .post {
    margin-top: 4em;
}

.post-header-top {
    padding: 3em 2em 1.5em;
    background: $container-dark-background-red;

    h1 {
        text-align: right;
        font-size: 2.25em;
        color: $light-text
    }

    @media screen and (min-width: 750px) {
        padding-right: 4em;
    }
}

.post-header-bottom {
    padding-top: 1.5em;
    padding-bottom: 1em;
    background: $container-background-gray;

    p {
        color: $light-text;
        font-size: 0.9em;
    }
}

.post-details {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    margin: auto;
}

.post-author {
    margin: 2em 0 1em;
    font-size: 1.25em;
    text-align: center;
}

.post-description {
    margin: 1.5em 0;
    color: $grey-text;
    font-style: italic;
    font-size: 1em;
}

.post-content {
    font-size: 1em;
}