.flash-container + .post {
    margin-top: 4em;
}

.post-header-top {
    padding: 1.75em 2em 1.5em;
    background: $accent-dark;

    h1 {
        clear: both;
        margin-top: 2.25em;
        text-align: right;
        font-size: 2em;
        color: $light-text
    }

    @media screen and (min-width: 750px) {
        padding-right: 8em;
    }
}

.post-header-bottom {
    padding-top: 1.5em;
    padding-bottom: 1em;
    @include secondary-color-background;

    p {
        color: $light-text;
        font-size: 0.9em;
    }
}

.post-header-additional {
    padding-bottom: 0;
}

.posts-back-icon, .post-edit-icon {
    color: $light-text;
    transition: 1s opacity;
    font-size: 1.25em;
    opacity: 0.75;
    float: left;

    &:hover {
        opacity: 1;
    }
}

.posts-back-icon {
    i.medium {
        vertical-align: -0.5em;
    }
}
.post-edit-icon {
    float: right;
}

.post-details {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    margin: auto;
}

.post-author {
    margin: 2.5em 0 0.5em;
    font-size: 1em;
    padding: 0.75em 2em 0.5em;
    text-align: center;
}

.post-description {
    margin: 1.5em 0 1em;
    color: $grey-text;
    font-style: italic;
    font-size: 1em;
    // display: none;
}

.post-content {
    font-size: 1em;
    padding-top: 0;
}

.post-content, .trix-content {

   p, div, br  {
        margin-bottom: 1em;
        font-size: 1.05em;
        text-align: justify;
        text-justify: inter-character;
        hyphens: auto;
        -webkit-hyphens: auto;
        overflow-wrap: break-word;
        line-height: 1.5;
    }

    blockquote {
        @include secondary-color-foreground;
        @include secondary-color-border;
        font-size: 1.75em;
        line-height: 1.4;
        border-left: 15px solid;

        margin: 1em 30px;
        padding-left: 30px;
    }

    h1 {
        font-size: 2em;
        margin: 1.25em 0 0.5em;
    }
}