/* SCSS Document */

/** Timeline **/

.dot,
.dot-small,
.dot-beginning,
.dot-end {
    margin-left: 0.05em;
    margin-right: -0.25em;
    margin-bottom: -0.35em;
    display: inline-block;
    height: 1.15em;
    width: 1.15em;
    background-color: $timeline;
    border-radius: 50%;
}

.dot-small {
    margin-left: 0.2em;
    margin-right: 0;
    margin-bottom: -0.2em;
    height: 0.85em;
    width: 0.85em;
}

.dot-beginning {
    margin-left: -0.85em;
    margin-bottom: 2em;
    display: block;
    height: 1.5em;
    width: 1.5em;
}

.dot-end {
    margin-left: -0.85em;
    margin-top: 1.5em;
    display: block;
    height: 1.5em;
    width: 1.5em;
}

.timeline {
    margin-top: 3em;
    margin-left: 3em;
    border-left: 0.25em solid $timeline;
}

.timeline-item {

    > h2 {
        margin-left: 2em;
        text-indent: -5.5em;
        padding-right: 0.5em;
        color: $timeline-text;
        font-family: 'Quasimoda', sans-serif;
        font-size: 2.75vh;
        font-weight: 300;

        .timeline-year {
            padding-right: 0.4em;
            font-family: droid-sans-mono, monospace;
            font-weight: 400;
        }

        .timeline-heading {

            &:before {
                content: '⸻';
                font-size: 2vh;
            }
        }

    }

    > p {
        margin: 0.5em 0 0.5em 4em;
        text-indent: -1.4em;
        color: $timeline-text;
        font-family: 'Quasimoda', sans-serif;
        font-size: 2.25vh;
        font-weight: 300;

        &:before {
            content: '⸺';
            text-indent: 15px;
            font-size: 1.75vh;
        }
    }
}

