<% provide(:title, "About" ) %>
    <main class="container">
        <h1>About Me</h1>
        <p class="large">
            I’m an aspiring software engineer. I especially love creating user interfaces, because it allows me to
            uniquely express what matters most—to myself, my clients, or my company.
        </p>
        <h2>Projects</h2>
        <p class="large">
            In my role as Lead Web Developer at Catholics for Hire, I've created several responsive websites from the ground up, using WordPress and the Elementor Page Builder. Here are a few of the sites that I've created:
        </p>
        <div class="button-fixed-container">
            <%= link_to 'Catholics for Hire', "https://catholicsforhire.com",
            target: 'blank', rel: 'noopener', class: 'button-fixed' %>
            <%= link_to 'Clarifying Catholicism', "https://clarifyingcatholicism.org",
            target: 'blank', rel: 'noopener', class: 'button-fixed' %>
            <%= link_to 'NFC Fundraising Channel', "https://nfcfundraisingchannel.com",
            target: 'blank', rel: 'noopener', class: 'button-fixed' %>
        </div>
        <p class="large">
        I've also prototyped my own portfolio website in Adobe XD, responsive and mobile-first. I've implemented the entire website using HTML & CSS, with the Ruby on Rails Stack.
        </p>
        <div class="button-fixed-container">
            <%= link_to 'View Portfolio Homepage', root_path,
            target: 'blank', rel: 'noopener', class: 'button-fixed' %>
        </div>
        <h2>Experience</h1>
        <div class="timeline">
            <div class="timeline-inner">
                <span class="dot-beginning"></span>
                <div class="timeline-item">
                    <h2><span class="timeline-year">2022</span><span class="dot-small"></span><span
                            class="timeline-heading">Senior Thesis on Strategies for Modern Convolutional
                            Networks</span></h2>
                    <p>Strategies on improving CNN performance in 2022</p>
                    <p>Researched modern CNN setbacks and possible solutions</p>
                    <p>Code implemented with Keras and Tensorflow</p>
                </div>

                <div class="timeline-item">
                    <h2><span class="timeline-year">2022</span><span class="dot-small"></span><span
                            class="timeline-heading">Started Software Engineering Internship at St. Paul Center</span>
                    </h2>
                    <p>Transition large Wordpress site to smaller sites</p>
                    <p>Use Ruby on Rails, HTML, CSS, and JavaScript</p>
                    <p>Use Agile workflow, with regular meetings, demos, bug reviews, version control</p>
                </div>

                <div class="timeline-item">
                    <h2><span class="timeline-year">2021</span><span class="dot-small"></span><span
                            class="timeline-heading">Class Project: Requirements for Nursing Clinicals</span></h2>
                    <p>Used to store and retrieve medical records</p>
                    <p>Used Agile methodology</p>
                    <p>Collaborated with team, held regular meetings, organized interviews with stakeholders</p>
                    <p>Created diagrams, feature files; co-created final specification document</p>
                </div>

                <div class="timeline-item">
                    <h2><span class="timeline-year">2021</span><span class="dot"></span><span
                            class="timeline-heading">Introduction to AI and computer vision</span></h2>
                    <p>Read books on AI and computer vision</p>
                    <p>Read through most of major groundbreaking computer vision papers</p>
                    <p>Implemented similar concepts with Keras, Tensorflow and Python</p>
                </div>

                <div class="timeline-item">
                    <h2><span class="timeline-year">2021</span><span class="dot"></span><span
                            class="timeline-heading">Lead Web Developer for Startup</span></h2>
                    <p>Perform SQL Tasks, interact with Linux server, configure domain</p>
                    <p>Collaborate and lead team, communicate with clients</p>
                    <p>Create responsive websites using Wordpress, Elementor Pro, and CSS</p>
                    <p>Design projects using Adobe XD, Premiere Pro, Illustrator, Photoshop, After Effects, CSS</p>
                    <p>Improve project workflow by introducing structured documents/requirements</p>
                </div>

                <div class="timeline-item">
                    <h2><span class="timeline-year">2021</span><span class="dot-small"></span><span
                            class="timeline-heading">Class Project: Mobile dictionary app</span></h2>
                    <p>Used Xamarin, C# and .NET</p>
                    <p>Co-created interface using XAML</p>
                    <p>Served as lead programmer and created most of backend</p>
                </div>

                <div class="timeline-item">
                    <h2><span class="timeline-year">2018</span><span class="dot-small"></span><span
                            class="timeline-heading">Started job as computer lab assistant</span></h2>
                </div>

                <div class="timeline-item">
                    <h2><span class="timeline-year">2018</span><span class="dot-small"></span><span
                            class="timeline-heading">Created page template using HTML and web library</span></h2>
                </div>

                <div class="timeline-item">
                    <h2><span class="timeline-year">2017</span><span class="dot"></span><span
                            class="timeline-heading">Created three workbooks in Adobe InDesign</span></h2>
                    <p>First experience with Adobe Creative Cloud</p>
                </div>

                <div class="timeline-item">
                    <h2><span class="timeline-year">2016</span><span class="dot-small"></span><span
                            class="timeline-heading">Wrote apps using the Windows Presentation Foundation (WPF)</span></h2>
                    <p>Used technologies like LINQ and data binding</p>
                    <p>Added application styles and multiple themes</p>
                    <p>Save records in text file, show reports, add additional users.</p>
                </div>

                <div class="timeline-item">
                    <h2><span class="timeline-year">2015</span><span class="dot"></span><span
                            class="timeline-heading">Began learning HTML & CSS fundamentals</span></h2>
                </div>

                <div class="timeline-item">
                    <h2><span class="timeline-year">2015</span><span class="dot-small"></span><span
                            class="timeline-heading">Started learning Microsoft C#</span></h2>
                    <p>Learned important OOP and Data Structures fundamentals</p>
                    <p>.NET Framework 4.5</p>
                </div>

                <div class="timeline-item">
                    <h2><span class="timeline-year">2013</span><span class="dot-small"></span><span
                            class="timeline-heading">Wrote first computer app using Visual Basic</span></h2>
                    <p>Introduction to object-oriented programming</p>
                </div>

                <span class="dot-end"></span>
            </div>
        </div>
    </main>