<% provide(:title, "Gallery") %>
<main>
    <h1>Photos</h1>
    <p class="large">It’s my passion to capture the moment through the gift of photography. Beautiful things bring hope and light to those who are depressed. Photography allows me to capture and preserve what’s beautiful.</p>
    <p class="large">Any photo that has the download icon can be downloaded and modified for free, as long as attribution is given. See <a target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by/4.0/">here</a> for more information.
    <h2>Gallery</h2>
   <div class='button-container' style="padding: 20px 0 15px 0">
         <%= link_to "View Photos<i class='icon fa fa-chevron-right'></i>".html_safe, "http://lightroom.adobe.com/gallery/35c62e7ff3ce476f9ae5b07994eb6f15/albums/9b29cc1724dd43edbf02095213f6eece/assets", class: 'button', rel: 'noopener' %>
    </div>
</main>