<% provide(:title, "Gallery") %>
<main>
    <h1>Photos</h1>
    <p class="large">It’s my passion to capture the moment through the gift of photography. Beautiful things bring hope and light to those who are depressed. Photography allows me to capture and preserve what’s beautiful.</p>
    <p class="large">Any photo that has the download icon can be downloaded and modified for free, as long as attribution is given. See <a target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by/4.0/">here</a> for more information.
    <h1>Gallery</h1>
`   <div class='button-div'>
         <%= link_to "View Photos<i class='icon fa fa-chevron-right'></i>".html_safe, "https://lightroom.adobe.com/libraries/dd55f93bdb164ee195eaa84a0adecb5c/albums/9b29cc1724dd43edbf02095213f6eece/assets?tab=photos&panel=organize", class: 'button', rel: 'noopener' %>
    </div>
</main>