<% provide(:title, "Gallery") %>
<main>
    <h1>Photos</h1>
    <p class="large">It’s my passion to capture the moment through the gift of photography. Beautiful things bring hope and light to those who are depressed. Photography allows me to capture and preserve what’s beautiful.</p>
    <p class="large">Any photo that has the download icon can be downloaded and modified for free, as long as attribution is given. See <a target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by/4.0/">here</a> for more information.
    <h1>Gallery</h1>
    <h2 style="text-align:center; color:green; font-size: 2em">Coming soon!</h2>
</main>