<article class="post-item">
      <h2 class="post-item-title"><%= link_to post_admin.title, edit_post_path(post_admin) %></h2>
      <div class="post-2-author-date">
            <p class="post-item-author"><%= post_admin.get_author %></p>
            <p class="post-item-date"><%= post_admin.get_date %></p>
      </div>
      <p class="post-item-category"><%= post_admin.category %></p>
</article>