<div class="post">
    <%= image_tag post.featured_image, class: "post-image"%>
    <h1><%= post.title %></h1>
    <p class="large"> <%= getContent(post.content) %></p>
    <div class="post-details">
</div>