<% provide(:title, "Blog Index Page") %>
<main class="container">
  <h1>Articles</h1>
  <% @posts.each do |post|%>
    <article class="post-item">
      <h2 class="post-item-title"><%= link_to post.title, post_path(post) %></h2>
      <p class="post-item-date"><%= post.created_at.strftime('%B %d, %Y') %><p>
      <% if post.description.present? %>
        <p class="post-item-description"><%= post.description %></h2>
      <% end %>
    </article>
  <% end %>
</main>
