<% provide(:title, "Blog") %>
<main>
  <h1>Blog</h1>
  <p class="large">
    Naked on the cross, Jesus cried out to His Father to have mercy on those who killed Him: “Father, forgive them, for they know not what they do.” Likewise, Jesus calls me to love each of His children, no matter what they have done or where they have been.
  </p>
  <h1>Articles</h1>
  <p>
    You can view my articles using the link below. NOTE: This is not my personal blog and I definitely do not endorse some of the content.
  </p>
  <div class="button-div">
     <a class='button' rel="noopener" target="_blank">View Articles</a>
  </div>
</main>
