 <footer>
        <section class="footer-top">
            <h2 class='logo'><a href="/">Chris Centrella</a></h2>
        </section>
        <section class="footer-main">
            <div class="footer-section">
                <h4 class="footer-heading"><a href="/">About Me</a></h4>
                <hr class="footer-heading-decorator" />
                <p><a href="/" class="footer-link">Home</a></p>
                <p><a href="/highlights" class="footer-link">Highlights</a></p>
                <p><a href="/specialties" class="footer-link">Specialties</a></p>
                <p><a href="/interests" class="footer-link">Interests</a></p>
            </div>
            <div class="footer-section">
                <h4 class="footer-heading"><a href="/resume">Work Experience</a></h4>
                <hr class="footer-heading-decorator" />
                
                <p><a href="/resume" class="footer-link">Resume</a></p>
                <p><a href="https://github.com/ccentrella" target="_blank" class="footer-link">GitHub</a></p>
                <p><a href="https://linkedin.com/in/ccentrella" target="_blank" class="footer-link">LinkedIn</a></p>
            </div>
            <div class="footer-section">
                <h4 class="footer-heading">Content</h4>
                <hr class="footer-heading-decorator" />

                <p><a href="/blog" class="footer-link">Blog</a></p>
                <p><a href="https://lightroom.adobe.com/gallery/35c62e7ff3ce476f9ae5b07994eb6f15" target="_blank" class="footer-link">Photos</a></p>
            </div>
        </section>
        <section class="footer-bottom">
            <p class="copyright">Proudly built with <i class="heart"></i>. &copy; 2021 – 2023 Christopher Michael Centrella.
                All rights reserved.</p>
        </section>
    </footer>