/* Variables and mixins*/
$light-text: #fcfcfc;

.contact-form{
    margin: 4em 0 -110px 0;
    padding: 6em 0.25em;
    background-color: #700C0E;
    text-align: center;
}

.field {
    margin: 0.5em 0;
    padding: 1em;
    width: 90%;
    max-width: 32em;
    box-sizing: border-box;
    font-family: 'Quasimoda', sans-serif;
    font-size: 2.75vh;
    font-weight: 300;
    border-radius: 36px;
    border: none;
}

.field-message {
    height: 12em;
    border-radius: 40px;
}

@keyframes submit_button_hover{
    from {background-color: transparent;}
    to {background-color: $light-text;}
}

.submit-button {
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid $light-text;
    color: $light-text;
}

@media (pointer: fine)
{
    .submit-button:hover {
        border: 2px solid $light-text;
        background-color: $light-text;
        color: #700C0E;
        animation-name: submit_button_hover;
        animation-duration: 1s;
    }
}