    <!--Footer-->
    <footer>
        <div class="footer-top">
            <h2 class='logo-small'><%= link_to 'Chris Centrella', root_path %></h2>
        </div>
        <div class="footer-bottom">
            <div class="buttons">
                <a class="footer-button" href="#">Vision</a>
                <a class="footer-button" href="#">Work</a>
                <a class="footer-button" href="#">Photos</a>
                <a class="footer-button" href="#">Blog</a>
            </div>
            <hr />
            <p class="copyright">© 2021 Chris Centrella.
                All rights reserved.</p>
        </div>
    </footer>