<header>
        <div class="banner-image">
            <div class="banner-overlay">
            <h1 class='logo'><%= link_to 'Chris Centrella', root_path %></h1>
                <div class="flex">
                    <h2 class="logo-tagline">Web Designer</h2>
                    <%= image_tag "icons/menu.png" , class: 'menu-toggle' %>
                </div>
            </div>
        </div>

        <!--<div class="navbar">
        <ul>
            <li></li>
        </ul>
    </div>-->
</header>