<% if @email_contact.errors.any? %>
  <div>
    <div class = "flash flash-error">
      <p>The form contains <%= pluralize(@email_contact.errors.count, "error") %>.</p>
    </div>
      <ul>
        <% @email_contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
