<% if @email_contact.errors.any? %>
  <div class="flash-container">
    <div class = "flash flash-warning">
        <p><strong>Form could not be saved. Please fix the following <%= pluralize(@email_contact.errors.count, "problem") %>:</strong></p>
        <ul>
            <% @email_contact.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
      </div>
    </div>
<% end %>